# Telecom X - An치lisis de Evasi칩n de Clientes
Importaciones necesarias

In [1]:
import pandas as pd
import numpy as np

##游늷 Extracci칩n

In [2]:
# Importando el JSON y convirtiendolo a un DataFrame
df = pd.read_json('https://raw.githubusercontent.com/ggsgranados/TelecomX-LATAM/refs/heads/main/TelecomX_Data.json')

In [3]:
# Mostrando el DataFrame
df.head()

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."

##游댢 Transformaci칩n

### Conociendo el conjunto de datos

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   customerID  7267 non-null   object
 1   Churn       7267 non-null   object
 2   customer    7267 non-null   object
 3   phone       7267 non-null   object
 4   internet    7267 non-null   object
 5   account     7267 non-null   object
dtypes: object(6)
memory usage: 340.8+ KB

In [5]:
df.columns

Index(['customerID', 'Churn', 'customer', 'phone', 'internet', 'account'], dtype='object')

### Comprobando incoherencias y normalizando

In [6]:
# Normalizando el DataFrame

# Normalizando columnas
df_customer = pd.json_normalize(df['customer'])
df_phone = pd.json_normalize(df['phone'])
df_internet = pd.json_normalize(df['internet'])
df_account = pd.json_normalize(df['account'])

# Seleccionando columnas restantes del DataFrame original
churn_df = df[['customerID', 'Churn']]

# Uniendo las normalizaciones en un solo DataFrame
df_normalizado = pd.concat([churn_df, df_customer, df_phone, df_internet, df_account], axis=1)

In [7]:
df_normalizado.head()

,customerID,Churn,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,Charges.Monthly,Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [8]:
df_normalizado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7267 non-null   object
 1   Churn             7267 non-null   object
 2   gender            7267 non-null   object
 3   SeniorCitizen     7267 non-null   int64
 4   Partner           7267 non-null   object
 5   Dependents        7267 non-null   object
 6   tenure            7267 non-null   int64
 7   PhoneService      7267 non-null   object
 8   MultipleLines     7267 non-null   object
 9   InternetService   7267 non-null   object
 10  OnlineSecurity    7267 non-null   object
 11  OnlineBackup      7267 non-null   object
 12  DeviceProtection  7267 non-null   object
 13  TechSupport       7267 non-null   object
 14  StreamingTV       7267 non-null   object
 15  StreamingMovies   7267 non-null   object
 16  Contract          7267 non-null   object
 17  PaperlessBilling  7267 non-null   object
 18  PaymentMethod     7267 non-null   object
 19  Charges.Monthly   7267 non-null   float64
 20  Charges.Total     7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [9]:
# Contabilizando las ocurrencias de cada columna, orden descendente

for col in df_normalizado.columns:
  print(f"Occurrences for column '{col}':")
  print(df_normalizado[col].value_counts().sort_values(ascending=False))
  print("-" * 30)

Occurrences for column 'customerID':
customerID
0011-IGKFF    1
9995-HOTOH    1
0002-ORFBO    1
9971-ZWPBF    1
9972-EWRJS    1
             ..
9965-YOKZB    1
9966-VYRTZ    1
9967-ATRFS    1
9968-FFVVH    1
9970-QBCDA    1
Name: count, Length: 7267, dtype: int64
------------------------------
Occurrences for column 'Churn':
Churn
No     5174
Yes    1869
        224
Name: count, dtype: int64
------------------------------
Occurrences for column 'gender':
gender
Male      3675
Female    3592
Name: count, dtype: int64
------------------------------
Occurrences for column 'SeniorCitizen':
SeniorCitizen
0    6085
1    1182
Name: count, dtype: int64
------------------------------
Occurrences for column 'Partner':
Partner
No     3749
Yes    3518
Name: count, dtype: int64
------------------------------
Occurrences for column 'Dependents':
Dependents
No     5086
Yes    2181
Name: count, dtype: int64
------------------------------
Occurrences for column 'tenure':
tenure
1     634
72    369
2     246
3     207
4     185
     ...
28     60
39     59
44     54
36     50
0      11
Name: count, Length: 73, dtype: int64
------------------------------
Occurrences for column 'PhoneService':
PhoneService
Yes    6560
No      707
Name: count, dtype: int64
------------------------------
Occurrences for column 'MultipleLines':
MultipleLines
No                  3495
Yes                 3065
No phone service     707
Name: count, dtype: int64
------------------------------
Occurrences for column 'InternetService':
InternetService
Fiber optic    3198
DSL            2488
No             1581
Name: count, dtype: int64
------------------------------
Occurrences for column 'OnlineSecurity':
OnlineSecurity
No                     3608
Yes                    2078
No internet service    1581
Name: count, dtype: int64
------------------------------
Occurrences for column 'OnlineBackup':
OnlineBackup
No                     3182
Yes                    2504
No internet service    1581
Name: count, dtype: int64
------------------------------
Occurrences for column 'DeviceProtection':
DeviceProtection
No                     3195
Yes                    2491
No internet service    1581
Name: count, dtype: int64
------------------------------
Occurrences for column 'TechSupport':
TechSupport
No                     3582
Yes                    2104
No internet service    1581
Name: count, dtype: int64
------------------------------
Occurrences for column 'StreamingTV':
StreamingTV
No                     2896
Yes                    2790
No internet service    1581
Name: count, dtype: int64
------------------------------
Occurrences for column 'StreamingMovies':
StreamingMovies
No                     2870
Yes                    2816
No internet service    1581
Name: count, dtype: int64
------------------------------
Occurrences for column 'Contract':
Contract
Month-to-month    4005
Two year          1743
One year          1519
Name: count, dtype: int64
------------------------------
Occurrences for column 'PaperlessBilling':
PaperlessBilling
Yes    4311
No     2956
Name: count, dtype: int64
------------------------------
Occurrences for column 'PaymentMethod':
PaymentMethod
Electronic check             2445
Mailed check                 1665
Bank transfer (automatic)    1589
Credit card (automatic)      1568
Name: count, dtype: int64
------------------------------
Occurrences for column 'Charges.Monthly':
Charges.Monthly
20.05     65
19.90     46
19.85     46
19.55     45
19.70     45
          ..
117.80     1
46.25      1
63.30      1
97.90      1
107.60     1
Name: count, Length: 1585, dtype: int64
------------------------------
Occurrences for column 'Charges.Total':
Charges.Total
20.2       11
           11
19.55       9
19.75       9
19.9        9
           ..
2781.85     1
74.25       1
6875.35     1
930.45      1
193.05      1
Name: count, Length: 6531, dtype: int64
------------------------------

In [10]:
# --- 1. Eliminar 'customerID' ---
df_normalizado = df_normalizado.drop('customerID', axis=1)
print("\nColumna 'customerID' eliminada.")

Columna 'customerID' eliminada.

In [11]:
# --- 2. Manejar y Codificar 'Churn' ---
# Identificar las filas donde 'Churn' es un espacio vac칤o
churn_empty_indices = df_normalizado[df_normalizado['Churn'] == ' '].index

# La estrategia m치s segura es eliminar estas filas, ya que son clientes nuevos
# sin historial de churn o cargos totales.
if not churn_empty_indices.empty:
    print(f"\nSe encontraron {len(churn_empty_indices)} filas con 'Churn' vac칤o. Eliminando estas filas...")
    df_normalizado = df_normalizado.drop(churn_empty_indices)
    df_normalizado = df_normalizado.reset_index(drop=True) # Resetear 칤ndice despu칠s de eliminar filas

# Ahora que los vac칤os est치n manejados, codificamos 'Churn'
df_normalizado['Churn'] = df_normalizado['Churn'].map({'No': 0, 'Yes': 1})

In [12]:
# --- 3. Manejar y convertir a num칠ricas 'tenure' y 'Charges.Total' ---

# Manejar 'Charges.Total':
# Primero, identifica los valores que son espacios en blanco y reempl치zalos con NaN
df_normalizado['Charges.Total'] = df_normalizado['Charges.Total'].replace(' ', np.nan)

# Ahora, convierte la columna a tipo num칠rico. Esto convertir치 'NaN' a NaN flotante.
df_normalizado['Charges.Total'] = pd.to_numeric(df_normalizado['Charges.Total'])

# Imputar los NaN en 'Charges.Total' con 0.
# Esto asume que si un cliente no tiene cargos totales, es porque es un cliente nuevo.
df_normalizado['Charges.Total'] = df_normalizado['Charges.Total'].fillna(0)

In [13]:
# --- 4. Aplicar One-Hot Encoding ---
columns_to_encode = [
    'gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines',
    'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
    'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract',
    'PaperlessBilling', 'PaymentMethod'
]

# Se excluyen:
# 'SeniorCitizen' ya que ya es num칠rica binaria (0/1)
# 'tenure', 'Charges.Monthly', 'Charges.Total' ya que son num칠ricas continuas
# 'Churn' ya que es la variable objetivo codificada

# Aplicar One-Hot Encoding
df_normalizado = pd.get_dummies(df_normalizado, columns=columns_to_encode, dtype=int)

print("\nOne-Hot Encoding aplicado a las columnas categ칩ricas.")

One-Hot Encoding aplicado a las columnas categ칩ricas.

In [15]:
print("\nEstado final del DataFrame:")
print(df_normalizado.info())

Estado final del DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 46 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Churn                                    7043 non-null   float64
 1   SeniorCitizen                            7267 non-null   int64
 2   tenure                                   7267 non-null   int64
 3   Charges.Monthly                          7267 non-null   float64
 4   Charges.Total                            7267 non-null   float64
 5   gender_Female                            7267 non-null   int64
 6   gender_Male                              7267 non-null   int64
 7   Partner_No                               7267 non-null   int64
 8   Partner_Yes                              7267 non-null   int64
 9   Dependents_No                            7267 non-null   int64
 10  Dependents_Yes                           7267 non-null   int64
 11  PhoneService_No                          7267 non-null   int64
 12  PhoneService_Yes                         7267 non-null   int64
 13  MultipleLines_No                         7267 non-null   int64
 14  MultipleLines_No phone service           7267 non-null   int64
 15  MultipleLines_Yes                        7267 non-null   int64
 16  InternetService_DSL                      7267 non-null   int64
 17  InternetService_Fiber optic              7267 non-null   int64
 18  InternetService_No                       7267 non-null   int64
 19  OnlineSecurity_No                        7267 non-null   int64
 20  OnlineSecurity_No internet service       7267 non-null   int64
 21  OnlineSecurity_Yes                       7267 non-null   int64
 22  OnlineBackup_No                          7267 non-null   int64
 23  OnlineBackup_No internet service         7267 non-null   int64
 24  OnlineBackup_Yes                         7267 non-null   int64
 25  DeviceProtection_No                      7267 non-null   int64
 26  DeviceProtection_No internet service     7267 non-null   int64
 27  DeviceProtection_Yes                     7267 non-null   int64
 28  TechSupport_No                           7267 non-null   int64
 29  TechSupport_No internet service          7267 non-null   int64
 30  TechSupport_Yes                          7267 non-null   int64
 31  StreamingTV_No                           7267 non-null   int64
 32  StreamingTV_No internet service          7267 non-null   int64
 33  StreamingTV_Yes                          7267 non-null   int64
 34  StreamingMovies_No                       7267 non-null   int64
 35  StreamingMovies_No internet service      7267 non-null   int64
 36  StreamingMovies_Yes                      7267 non-null   int64
 37  Contract_Month-to-month                  7267 non-null   int64
 38  Contract_One year                        7267 non-null   int64
 39  Contract_Two year                        7267 non-null   int64
 40  PaperlessBilling_No                      7267 non-null   int64
 41  PaperlessBilling_Yes                     7267 non-null   int64
 42  PaymentMethod_Bank transfer (automatic)  7267 non-null   int64
 43  PaymentMethod_Credit card (automatic)    7267 non-null   int64
 44  PaymentMethod_Electronic check           7267 non-null   int64
 45  PaymentMethod_Mailed check               7267 non-null   int64
dtypes: float64(3), int64(43)
memory usage: 2.6 MB
None

##游늵 Carga y an치lisis

##游늯Informe final